<h3>Server Name</h3>
<input 
  type="text" 
  class="form-control"  
  [(ngModel)]="serverName">
<p [ngStyle]="{'background-color': getColor()}" *ngIf="serverStatus; else noServer">The server is {{ serverStatus }}</p>
<p [ngStyle]="{ backgroundColor: getColor()}"  *ngIf="serverStatus; else noServer">The server is {{ serverStatus }}</p>
<ng-template #noServer>
  <p>The server was not created</p>
</ng-template>
<button (click)="onClick()" class="btn btn-primary">This is a button</button>
<button [disabled]="serverName === ''" (click)="onReset()" class="btn btn-primary">Reset Met</button>


